Django~=4.1.2
django-model-utils
mysqlclient~=2.1
gunicorn~=20.1
python-codicefiscale~=0.5
jinja2~=3.1.2
django-jinja~=2.10.2
pytz~=2022.6
django-widget-tweaks
requests~=2.28.1
scikit-learn
nltk
cherrypy
python-telegram-bot[all]
beautifulsoup4
feedparser==6.0.0b1
# psycopg2-binary
gTTS
# SolrClient
treetaggerwrapper
# sentry-sdk==0.13.5
# django-ckeditor
